@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bree+Serif&family=Tauri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
* {
    margin: 0;
    padding: 0;
}
.fjalla-one-regular {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.settings{
    display: block;
}
body{
    background-image: url('/img/NOtextccibg.jpg');
    background-position:right top ;
    background-size: cover;
    background-attachment:fixed;
    background-color: #000000;
}
section{
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.box-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 500px;
    height: 500px;
    overflow: hidden;
}
.white {
    background-color: rgba(52, 95, 173, 0.92);
    border-radius: 40px;
    -webkit-box-shadow: 0px 10px 37px 10px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 10px 37px 10px rgba(0,0,0,0.75);
box-shadow: 0px 10px 37px 10px rgba(0,0,0,0.75);
}

.login-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.login-container h2 {
    margin-top: 60px;
    font-size: 55px;
    font-family: "Alfa Slab One", serif;
}

.login-container input  {
     border: 1px solid #737373;
     border-radius: 5px;
     width: 70%;
     height: 40px;
     margin-bottom: 15px;    
     padding: 7px;   
     font-size: 16px;
     font-family: "Tauri", sans-serif;
     transition: box-shadow 0.3s ease;
     margin-right: 25px;
}

.login-container input:focus {
    outline: none; 
    box-shadow: 0 0 10px rgba(0, 114, 188, 0.7);
  }

.login-container ::placeholder {
    color: #5A5A5A;
    font-size: 16px; 
    font-family: "Tauri", sans-serif;
}

.username .password {
    font-size: 16px;
}

.invaliderror {
    color: red;
    margin-bottom: 10px;
    font-family: "Tauri", sans-serif;
}
/*----------------------------*/
/*------Login--------*/
.button-box{
    display: flex;
    gap: 30px;
    justify-content: center;
    height: 40px;
}
.login-container button {
    width: 100px;
    border-radius: 5px;
    background-color:rgb(255, 255, 255);  
    color: rgba(0, 0, 0, 0.92);
    margin-bottom: 10px;
    font-size: 20px;
    font-family: "Fjalla One", sans-serif;    
    margin-top: 25px;
}
/*----------------------------*/
.login-container p {
    font-family: "Bree Serif", serif;
    font-size: 90%;
}

.noaccount {
    margin-left: 5px;
}
.tauri-regular {
    font-family: "Tauri", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.HR-LOGO img{
    width: 70px;
    height: 70px;
    margin: 10px;
}
/*---------------------------------------------------------*/

.form_main {
    width: 450px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255, 0.85);
    padding: 30px 30px 30px 30px;
    border-radius: 30px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.062);
    -webkit-box-shadow: 0px 10px 37px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 37px 10px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 37px 10px rgba(0,0,0,0.75);
  }
  
  .heading {
    font-size: 3.5em;
    color: #2e2e2e;
    font-family: "Fjalla One", sans-serif;
    font-weight: 900;
    margin: 15px 0 30px 0;
    margin-top: -90px;
  }
  
  .inputContainer {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .inputIcon {
    position: absolute;
    left: 10px;
  }
  
  .inputField {
    width: 100%;
    height: 60px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(173, 173, 173);
    border-radius: 30px;
    margin: 10px 0;
    color: black;
    font-size: 1em;
    font-weight: 500;
    box-sizing: border-box;
    padding-left: 30px;
    
  }
  
  .inputField:focus {
    outline: none;
    border-bottom: 3px solid rgba(52, 95, 173, 0.92);
  }
  
  .inputField::placeholder {
    color: rgb(80, 80, 80);
    font-size: 1em;
    font-weight: 500;
  }
  
  #button {
    position: relative;
    width: 100%;
    border: 2px solid rgba(52, 95, 173, 0.92);
    background-color: rgba(52, 95, 173, 0.92);
    height: 40px;
    color: white;
    font-size: 1.5em;
    font-weight: 500;
    font-family: "Fjalla One", sans-serif;
    letter-spacing: 1px;
    border-radius: 30px;
    margin: 20px;
    top: 10%;
    cursor: pointer;
    overflow: hidden;
  }
  
  #button::after {
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, 0.253);
    height: 100%;
    width: 150px;
    top: 0;
    left: -200px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
    filter: blur(10px);
    transition-duration: .5s;
  }
  
  #button:hover::after {
    transform: translateX(600px);
    transition-duration: .5s;
  }
  
  .signupContainer {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  .signupContainer p {
    font-size: .9em;
    font-weight: 500;
    color: black;
  }
  
  .signupContainer a {
    font-size: .7em;
    font-weight: 500;
    background-color: #2e2e2e;
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 20px;
  }
  
  /*-------------------Loader------------*/
  .loader {
    overflow: hidden;
    background-image: linear-gradient(135deg, rgba(52, 95, 173) 0%, rgb(74, 114, 190) 100%);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 9999;
    color: #fff;
    transition: opacity 0.75s, visibility 0.75s;
}
.loader .jumper {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  position: absolute;
  margin: auto;
  width: 50px;
  height: 50px;
 
}

.loader .jumper > div {
    background-color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
    opacity: 0;
    width: 80px;
    height: 80px;
    -webkit-animation: jumper 1s 0s linear infinite;
    animation: jumper 1s 0s linear infinite;
  }
  
.loader .jumper > div:nth-child(2) {
  -webkit-animation-delay: 0.33333s;
  animation-delay: 0.33333s;

}
.loader .jumper > div:nth-child(3) {
  -webkit-animation-delay: 0.66666s;
  animation-delay: 0.66666s;
}
.loader--hidden{
  opacity: 0;
  visibility: hidden;
}

@keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}